<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- Bottom Navigation -->
<div class="bottom-nav">

  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="fas fa-home"></i>
    <span>HOME</span>
  </a>

  <a routerLink="/bills" routerLinkActive="active">
    <i class="fas fa-file-invoice"></i>
    <span>BILLS</span>
  </a>

  <a routerLink="/usage" routerLinkActive="active">
    <i class="fas fa-chart-line"></i>
    <span>USAGE</span>
  </a>

  <a routerLink="/profile" routerLinkActive="active">
    <i class="fas fa-user"></i>
    <span>PROFILE</span>
  </a>

</div>