<div class="auth-wrapper">
  <div class="auth-card">

    <!-- Step 1 -->
    <div *ngIf="step === 1">
      <h2>Forgot Password</h2>

      <input type="email"
             [(ngModel)]="email"
             placeholder="Enter your email">

      <button type="button"
              [disabled]="loading || !email"
              (click)="sendOtp()">
        {{ loading ? 'Sending...' : 'Send OTP' }}
      </button>
    </div>

    <!-- Step 2 -->
    <div *ngIf="step === 2">
      <h2>Enter OTP</h2>

      <input type="text"
             maxlength="6"
             [(ngModel)]="otp"
             placeholder="Enter 6-digit OTP">

      <button type="button"
              [disabled]="loading || otp.length !== 6"
              (click)="verifyOtp()">
        {{ loading ? 'Verifying...' : 'Verify OTP' }}
      </button>
    </div>

    <!-- Step 3 -->
    <div *ngIf="step === 3">
      <h2>Reset Password</h2>

      <input type="password"
             [(ngModel)]="newPassword"
             placeholder="New Password">

      <button type="button"
              [disabled]="loading || newPassword.length < 6"
              (click)="resetPassword()">
        {{ loading ? 'Updating...' : 'Change Password' }}
      </button>
    </div>
    <p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

    <p class="error" *ngIf="message">{{ message }}</p>

  </div>
</div>